data/raw/*.csv
data/raw/*.xls
data/raw/*.xlsx
data/processed/charging_stations_processed.csv
data/processed/commercial_facilities_processed.csv
*.pyc
__pycache__/
.jupyter/
.ipynb_checkpoints/
outputs/plots/*.png
outputs/maps/*.html
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
